/*-----------------------------------*\
  #sales feature
\*-----------------------------------*/

.sale-container{
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.popular_container{
  padding: 1rem 0 5rem;
}
.popular_card{
  width: 290px;
  background-color: var(--white);
  padding: .5rem .5rem 1.5rem;
  border-radius: 1rem;
  margin:auto;
  margin-bottom: 3rem;
  transition: .4s;
}

.popular_img{
  border-radius: 1rem;
  margin-bottom: 1rem;
}

img{
  max-width: 100%;
  height: 100%;
}

.popular_data{
  padding: 0 1rem 0 .5rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}
.card-price {
  color: var(--orange-soda);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  margin-bottom: 5px;
}
.card-price strong {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}
.popular_data .card-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}
.contents .details{
    padding:.5rem 0;
    display: flex;
}
.contents .details h3:not(:last-child) {
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
}

.popular_card:hover{
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, .1);
}


/*-----------------------------------*\
  #VALUES
\*-----------------------------------*/
.value{
  padding-block: var(--section-padding);
}
.value__container{
  row-gap: 3rem;
}
.value__images{
  position: relative;
  display: flex;
  justify-content: center;
}
.value__orbe{
  width: 266px;
  height: 316px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 135px 135px 16px 16px;
}
.value__img{
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius:125px 125px 12px 12px ;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}
.value__accordion{
  display: grid;
  row-gap: 1.5rem;
}
.value__accordion-item{
  background-color: var(--white);
  border: 2px solid var(--cultured-2);
  border-radius: .5rem;
  padding: 1rem .75rem;
}
.value__accordion-header{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.value__accordion-icon{
  background-color: var( --misty-rose);
  color: var(--orange-soda);
  padding: 4px;
  border-radius: .35rem;
  font-size: 1.5rem;
  margin-right: .75rem;
  transition: .3s;
}
.value__accordion-title{
  font-size: .9rem;
}
.value__accordion-arrow{
  display: inline-flex;
  padding: .24rem;
  border-radius: 2px;
  font-size: 13px;
  margin-left: auto;
  background-color: var( --misty-rose);
  color: var(--orange-soda);
  transition: .3s;
}
.value__accordion-arrow ion-icon{
  transition: .4s;
}
.value__accordion-content{
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}
.value__accordion-description{
  font-size: .8rem ;
  padding: 1.25rem 2.5rem 0 2.75rem;
}
.accordion-open{
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}
.accordion-open .value__accordion-icon{
  box-shadow: 0 4px 4px hsla(288, 66%, 45%, 0.1 );
}
.accordion-open .value__accordion-arrow{
  box-shadow: 0 4px 4px hsla(288, 66%, 45%, 0.1 );
}
.accordion-open .value__accordion-arrow ion-icon{
  transform: rotate(-180deg);
}


/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { 
   /* background: var(--cultured-2); */
  padding-block: var(--section-padding); 
}

.blog-card { box-shadow: var(--shadow-2); }

.blog-card .card-banner {
  overflow: hidden;
  aspect-ratio: 2 / 1.5;
}

.blog-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.blog-card:is(:hover, :focus) .card-banner img { transform: scale(1.1); }

.blog-content { padding: 30px; }

.blog-card .card-meta-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.blog-card :is(.card-meta-link, .publish-date) {
  color: var(--cadet);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}

.blog-card :is(.card-meta-link, .publish-date) ion-icon { color: var(--orange-soda); }

.blog-card .card-meta-link:is(:hover, :focus) { color: var(--orange-soda); }

.blog-title {
  font-size: 1rem;
  --font-weight: var(--fw-600);
}

.blog-card .blog-title:is(:hover, :focus) { color: var(--orange-soda); }

.blog-content-bottom {
  padding-top: 20px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card .read-more-btn {
  color: var(--orange-soda);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  text-transform: uppercase;
}